// option one 
$purple: #300f38; 
$green: #0c8;
$grey: #F3F2F3;

a {
	color: black;
	text-decoration: none;
	transition: color 0.5s;
	&:hover {
		color: $green;
	}
}

h1 {
	font-family: 'Cutive', serif;
	color: white;
}

h2 {
	font-family: 'Open Sans', sans-serif;
	color: white;
}

h3 {
	color: $purple;
}

h3, h5, h6 {
	font-family: 'Open Sans', sans-serif;
}

h4 {
	font-family: 'Cutive', serif;
	font-size: 25px;
	letter-spacing: 1.5px;
	&:after {
		content: " ";
		display: block;
		background: $green;
		height: 3px;
		width: 27%;
	}
}

@media all and (max-width: 980px) {
	h4 {
	&:after {	
	width: 40%;
		}
	}
}

/* paragraphs */

p {
	line-height: 1.5;
	font-family: 'Open Sans', sans-serif;
}

/*blockquotes*/

blockquote {
	background: #F7F7F7;
	margin: 0;
	padding: 20px;
	p {
		margin-top: 0;
	}
}

/*tables*/

table {
	td {
		padding: 10px;
	}
	tr td:first {
		padding-right: 0;
	}
}

/*def lists*/

dt {
	font-weight: 600;
	padding-bottom: 5px;
}

dd {
	padding: 10px;
	margin-left: 10px;
}

/*lists*/

ul li, ol li {
	padding: 3px;
}

/*PRE*/

pre {
	background: #F7F7F7;
	padding: 10px;
	border-radius: 4px;
	border: 1px solid #ccc;
}


/*
====================================
Global Classes / Wordpress Specific
====================================
*/

.aligncenter {
	text-align: center;
	margin: 0 auto;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

img {
	&.alignleft {
		padding-right: 5px;
	}
	&.alignright {
		padding-left: 5px;
	}
}

.clear {
	width: 100%;
	float: left;
	clear: both;
}